<% complex_type = List.first(@element.complex_type) %>
<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <%= generate_panel_heading(@element) %>
  </div>
  <div class="panel-body">
    <%= content_tag :fieldset, class: "form-group" do %>
      <%= generate_element_section(@element) %>
    <% end %>
  </div>
</div>
