<%= for attribute <- @element.complex_type.attributes do %>
  <%= generate_control(attribute, @element.name) %>
<% end %>
<%= for element <- @element.complex_type.elements  do %>
  <%= render "fieldset.html", element: element %>
<% end %>
